<%= link_to 'See all students',  students_path %>
<%= link_to 'Create a new student',  new_student_path %><br>

<h1>All Students</h1>
<% @students.each do |student| %>
  <%= link_to 'delete student',  student_path(student), method: "delete" %> :
    <%= link_to student.name ,  student_path(student) %>

<% end %>
